ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ccc;
}

li {
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  display: block;

  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.active {
  background-color: #444;
  color: #fff;
}

.contact {
  float: right;
  background-color: #ffff885e;
  border: 1px solid yellowgreen;
}
